*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('./andrea-de-santis-FiwIIgjDbnw-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.main-heading{
    text-align: center;
    background-color:rgb(47, 54, 64, 0.8);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(219, 224, 229);
    font-weight: bold;
    width: 100%;
    padding: .75rem;
 
}

.main-btn-cont{
    display: flex;
    justify-content:space-evenly;
    margin-top: 3rem;
}

.btn-primary{
    width: 30%;
}

.modal-cont{
    /* display: none; */
    position: absolute;
    height: 50vh ;
    width: 45vw ;
    background-color:rgb(47, 54, 64, 0.8);
    border: #7f8fa6;
    border-style: solid;
    border-width: 0.05rem;
    border-radius: 5px;
    top: calc((100vh - 35vh) / 2) ;
    left: calc((100vw - 45vw) / 2);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.modal-palindrome{
    display: none;
}

.modal-correctindex{
    display: none;
}

.modal-body{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-input{
    margin: 0.5rem;
    width: 93%;
    height: 2.5rem;
}

.modal-palindrome-btn{
    margin-top: 0.25rem;
    text-align: center;
}

.modal-correctindex-btn{
    margin-top: 0.25rem;
    text-align: center;
}

#liveAlertPlaceholder1{
    margin-top: 1.5rem;
}

#liveAlertPlaceholder2{
    margin-top: 1.5rem;
}
.alert{
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .modal-cont{
        /* display: none; */
        position: absolute;
        height: 60vh ;
        width: 45vw ;
        background-color:rgb(47, 54, 64, 0.8);
        border: #7f8fa6;
        border-style: solid;
        border-width: 0.05rem;
        border-radius: 5px;
        top: calc((100vh - 35vh) / 2) ;
        left: calc((100vw - 45vw) / 2);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .modal-input{
        height: 2rem;
    }
}
@media screen and (min-width: 425px) and (max-width: 767px){
    .main-heading{
        text-align: center;
        background-color:rgb(47, 54, 64, 0.8);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:rgb(219, 224, 229);
        font-weight: bold;
        width: 100%;
        padding: .5rem;
     
    }
    .modal-cont{
        /* display: none; */
        position: absolute;
        height: 62vh ;
        width: 60vw ;
        background-color:rgb(47, 54, 64, 0.8);
        border: #7f8fa6;
        border-style: solid;
        border-width: 0.05rem;
        border-radius: 5px;
        top: calc((100vh - 35vh) / 2) ;
        left: calc((100vw - 60vw) / 2);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .modal-input{
        height: 1.8rem;
    }
}

@media screen and (min-width: 325px) and (max-width: 424px){

    .main-heading{
        text-align: center;
        background-color:rgb(47, 54, 64, 0.8);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:rgb(219, 224, 229);
        font-weight: bold;
        width: 100%;
        padding: .5rem;
    }

    .modal-cont{
        position: absolute;
        height: 63vh ;
        width: 65vw ;
        background-color:rgb(47, 54, 64, 0.8);
        border: #7f8fa6;
        border-style: solid;
        border-width: 0.05rem;
        border-radius: 5px;
        top: calc((100vh - 35vh) / 2) ;
        left: calc((100vw - 65vw) / 2);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .modal-input{
        height: 1.8rem;
    }
}

@media screen and (max-width: 374px){
    .main-heading{
        text-align: center;
        background-color:rgb(47, 54, 64, 0.8);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:rgb(219, 224, 229);
        font-weight: bold;
        width: 100%;
        padding: .5rem;
     
    }
    .modal-cont{
        position: absolute;
        height: 63vh ;
        width: 70vw ;
        background-color:rgb(47, 54, 64, 0.8);
        border: #7f8fa6;
        border-style: solid;
        border-width: 0.05rem;
        border-radius: 5px;
        top: calc((100vh - 35vh) / 2) ;
        left: calc((100vw - 70vw) / 2);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .modal-input{
        height: 1.7rem;
    }
}